APP_ENV=development
JWT_SECRET=chave_aleatoria_ambiente_de_desenvolvimento_super_segura_123456789

DB_HOST=db
DB_PORT=3306
DB_DATABASE=problem_development
DB_USERNAME=problem-user
DB_PASSWORD=problem-pwd

TMDB_API_KEY=
TMDB_READ_TOKEN=